canvas {
	border:2px solid black;
	border-radius: 15px;
	width: 600px;
	height: 500px;
	float: left;
	margin-left: 10%;
	display: inline-block;
}
body{
	background:url("bombinette.jpg") scroll;
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 1;
	margin:0;
  	padding:0;
  	-webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
  	-o-background-size: cover; /* pour Opera */
  	background-size: cover; /* version standardisée */
}
h1{
	text-align: center;
	font-style: italic;
	font-family: Impact;
	margin-left: 30%;
	margin-right: 30%;
	color:white;
	font-size: 40px;
}
header{
	width:99%;
	height: 100px;
}
article{
	width: 99%;
	height: 500px;
}
aside{
	width: 250px;
	height: 350px;
	float: right;
	display: inline-block;
	color: white;
	text-align: center;
	margin-top: 5%;
}